/* Define Font */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

/* Reset Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  display: fixed;
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right,#8c9394, #09363e);
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
}

/* Heading Styles */
h1 {
  border: 3px solid black;
  background-color: #3c4c4f; /* Updated */
}
h3 {
  border: solid;
  background-color: #4C4C6D; /* Updated */
}

/* Link Styles */
a {
  text-decoration: none;
  color: white;
}

/* Hero Section */
#hero-container {
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#intro-card {
  position: absolute;
  min-height: 50%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
  color: white;
  text-align: center;
  border-radius: 10px;
}
#name {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

#me-container {
  border:2px dashed rgba(9, 75, 92, 0.664);
  height: fit-content;
}
#me {
  height: 20rem;
  padding: 1rem;
}

#about-me-card {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  border: 20px solid transparent;
  justify-content: left;
  flex-grow: 1;
}

#about-me-paragraph {
  font-size: x-large;
  font-style: inherit;
}

/* Navigation Menu */
.nav-container {
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.nav {
  background-color: rgba(31, 1, 1, 0.5);
  width: 90%;
  max-width: 300px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  animation-name: flip;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.nav:hover {
  cursor: pointer;
  background-color: rgb(134, 116, 93);
  box-shadow: 5px 5px 1px 1px #7C4871;
  color: black;
  animation-name: pulse;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#verb {
  font-size: large;
}
#role {
  border: solid;
  background-color: black;
  color: whitesmoke;
  font-family: monospace;
  padding: 5vh;
  font-size: xxx-large;
}

/* Projects Section */
#my-projects {
  padding: 2rem 0;
}
.section-header {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #000000; /* Updated */
  animation-name: slide-down;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
#project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  grid-auto-flow: dense;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  transition: 0.5s;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.project-card:hover {
  background-color: #3cb4eb27;
  box-shadow: 5px 5px 1px 1px #7C4871;
  animation-name: shake;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.project-images {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
}
.project-caption {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
}
#technical-skill-section {
  margin-bottom: 2rem;
}
#technical-skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  justify-items: center;
}

.technical-skill {
  width: auto;
  height: 15vh;
}

.job-img {
  width: 10vw;
  height: auto;
}

.job-card {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-bottom: 3vh;
}

.job-paragraph {
  font-size: 1.2rem;
  font-style: inherit;
  padding-left: 5vw;
}

#non-technical-skills {
  display: grid;
  padding-left: 2vw;
  list-style: none;
  margin: 0;
  font-size: 3vw;
  grid-template-columns: repeat(3, auto);
  grid-template-rows:auto;
}

#non-technical-skills * {
  box-sizing: border-box;
  height: 20vh;
  width: 20vw;
  font-family: 'Open-sans';
  font-size: 2rem;
}

#non-technical-skills li:nth-child(1)::before {
  content: '💪';
  padding-right:0.5em;
}
#non-technical-skills li:nth-child(2)::before {
  content: '💬';
  padding-right:0.5em;
}
#non-technical-skills li:nth-child(3)::before {
  content: '🔌';
  padding-right:0.5em;
}
#non-technical-skills li:nth-child(4)::before {
  content: '🤔';
  padding-right:0.5em;
}
#non-technical-skills li:nth-child(5)::before {
  content: '😊';
  padding-right:0.5em;
}
#non-technical-skills li:nth-child(6)::before {
  content: '🤗';
  padding-right:0.5em;
}



/* Responsive Styles */
@media screen and (max-width: 768px) {
  #hero-container {
    height: 50rem;
  }
  #hero-container {
    height: 70rem;
    width: auto;
  }
  
  #intro-card {
    max-width: 70%;
  }
  #me {
    flex-grow: 0.1;
    width: 25vw;
    height: auto;
  }

  #me-container {
    border:1px dashed plum;
  }
  #about-me-paragraph {
    font-size: 0.6rem;
    flex-grow: 1;
  }
  .job-paragraph {
    font-size: 0.8rem;
  }
  .nav-container {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nav {
    width: 45%;
    max-width: none;
  }
  #my-projects-header {
    font-size: 1.5rem;
  }

  #non-technical-skills * {
    font-size: 1rem;
  }

  @media screen and (max-width: 500px) {
    #non-technical-skills * {
      font-size: 0.8rem;
    }
  }
}
